* {
    
    box-sizing: border-box;
}


.container {
    margin: 0 auto;
    position: relative;
    max-width: 1140px;
    border: solid black;
    height: 1100px;
    font-family: sans-serif;

}

.container h1 {

    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;

}

.container p {

    text-align: center;
    margin-bottom: 50px;
}


.text1{
    position: absolute;
    color: white;
    top: 350px;
    font-weight: 500;
}

.text2{
    position: absolute;
    color: white;
    top: 350px;
    left: 385px;
   
}

.text3{
    position: absolute;
    color: white;
    top: 350px;
    right: 130px;
}

.text4{
    position: absolute;
    color: white;
    bottom: 400px;
}

.text5{
    position: absolute;
    color: white;
    bottom: 400px;
    left: 385px;
}
.text6{
    position: absolute;
    color: white;
    bottom: 400px;
    right: 150px;
}
.text7{
    position: absolute;
    color: white;
    bottom:11px;
    left: 390px;
}



.bold {
    font-weight: bold;

}

.foto {
    width: 33%;
    height: 33%;

}



.row {

    margin-top: 100px;
    text-align: center;

}
.foto1:hover {
    
    border-style: solid;
    border-color: red;
}
.foto1 {
     width: 33%;
    height: 33%;
    
}
